html,
body {
  font-size: 14px;
  font-family: 'Segoe UI', sans-serif;
}

.loading-wrapper {
  margin: 0;
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

.loading-spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #ccc;
  border-top: 5px solid #007bff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.container {
  display: grid;
  grid-template-columns: 3fr 1px 7fr;
  gap: 1rem;
  height: 100%;
}

table {
  border-collapse: collapse;
  table-layout: auto;
  width: 100%;
}

table.even-columns {
  table-layout: fixed;
}

table.even-columns td {
  padding: 0.75rem;
}

th {
  background-color: #009e43;
  color: #fff;
  font-weight: 700;
  padding: 0.75rem;
  text-align: left;
}

tr.selected {
  background-color: rgba(204, 236, 217, 1);
}

table.clickable td a {
  width: 100%;
  display: block;
  padding: 0.75rem;
  text-decoration: none;
  color: inherit;
}

table.clickable tr:hover {
  background-color: #b3e2c7;
}

table.small-first-column th:first-child,
table.small-first-column td:first-child {
  width: 0;
}

dd {
  margin: 0;
  padding: 0;
}

dl {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 1rem;
  row-gap: 0.25rem;
}

dt {
  font-weight: bold;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
}

.search-input {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  padding-bottom: 1rem;
}

.search-input label {
  font-weight: 700;
}

.search-input input {
  border-radius: 0;
  border: 1px solid #d3d3d3;
  border-radius: 0;
  padding: 8px;
}

.search-input button {
  display: none;
}

.divider {
  background-color: #009e43;
}
