git-tag-version=false
save-exact=true
ignore-scripts=true
min-release-age=7
engine-strict=true

# temporary exclusions, comment out on or after 2026-10-07
min-release-age-exclude=@defra/fcp-audit-publisher