<!DOCTYPE html>
<html>
  <head>
    <title>
      {% block title %}Consolidated View{% endblock %}
    </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="https://fonts.cdnfonts.com/css/segoe-ui-4">
    <link rel="stylesheet" href="/consolidated-view/css/styles.css">
  </head>
  <body>

    <main>
      {% block content %}
        <!-- Child templates will fill this block -->
      {% endblock %}
    </main>

  </body>
</html>
